@font-face {
    font-family: SOMAR-BOLD;
    src: url(../fonts/SOMAR-BOLD.OTF);
  }
  @font-face {
    font-family: SOMAR-BLACK;
    src: url(../fonts/SOMAR-REGULAR.OTF);
  }


#login{
    background-image: url('../imags/LoginBG.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: inherit;
color: #fff;
font-family: SOMAR-BOLD;
 
}
#Home{
    background-image: url('../imags/HomeBG.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-family: SOMAR-BOLD;
 }


.imove{
    width: 25%;
text-align: center;
padding-top: 5%;
}

.btn-login,.btn-back,.btn-submit{
    border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
width: 57%;
}
.btn-print{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
width: 25%;
}

input,select{
    background-color: #f0f4f7 !important;
    border: 0 !important;
    color: #421980 !important;
}




#login input{
    text-align: center;
}
footer {
    margin: 30px 0 0 0;
     padding: 1.2rem 0;
     width: 100%;
    background-color: #491c8e;
     
}

.input-group-text{
    background: #f0f4f7;
border: 0;
color: #491c8e;
}
nav{
    background-color: #f8f9fa !important;
position: inherit;
margin-top: 20%;
border-radius: 16px;
text-align: center;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.nav-item .active{
    color: #491c8e !important;
border-bottom: 6px solid #491c8e;
border-radius: 5px;
}

.card{
    border-radius: 1rem;
    text-align: center;
    color: #491c8e;
    
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

 .col-md-4,
 .col-md-3,
 .col-md-6
 {
    padding-bottom: 30px;
 }


 .card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgb(73, 28, 142);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-bottom-right-radius: 60px !important;
    border-bottom-left-radius: 60px !important;
    color: #fff;
  }


  .btn-primary{
    color: #fff;
    background-color: #491c8e;
    border-color: #421980;
  }
  .btn-outline-primary{
    border-color: #421980;
    color: #421980;
  }
  .btn:hover{
    color: #fff;
    background-color: #491c8e;
    border-color: #421980;
  }

  .desc{
    color: #5e5e5e;
    font-weight: initial;
    font-size: 0.7rem;
  }

  #map {
    height: 400px;
     width: 100%;
 border-radius: 20px;
  }
  
  .borderd-dashed{
    border: 2px dashed #491c8e;
    text-align: center;
    padding: 13px;
    border-radius: 18px;
  }
.card.noborder{
    border: 0;
 background: #f0f4f7;
border-radius: 0;
border-right: 15px solid #572386;
}
label{
    color: #000;
font-family: SOMAR-BLACK;
}
  .fa-camera{
    float: inline-start;
    top: -60%;
    position: relative;
    right: -3%;
    font-size: 1.5rem;
    cursor: pointer;
  }
@media screen and (max-width: 1310px) {
    .imove{
        width: 50%;
    text-align: center;
    padding-top: 7%;
    }
    h3{
        font-size: 1rem;
    }
  }

  
